<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="#">

  <title>AIUB Weekly Routine</title>
  <script src="../assets/js/download.js"></script>
  <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sign-in/">

  <!-- Bootstrap core CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="assets/css/login.css" rel="stylesheet">
</head>

<body class="text-center">
  <form action="/pdf" method="GET" class="form-signin">
    <img class="mb-4" src="https://www.aiub.edu/Files/Templates/Blue/assets/img/aiub.png" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in with your vues/portal ID</h1>
    <label for="inputEmail" class="sr-only">ID (XX-XXXXX-X)</label>
    <input type="email" id="inputEmail" class="form-control" placeholder="ID (XX-XXXXX-X)" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>

    <button class="btn btn-lg btn-primary btn-block" type="button" onclick="sendData()">Sign in and Download</button>
    Made with <span style="color: #e25555;">&#9829;</span> by <a href="https://fb.com/imSaharukh">S A Saharukh</a>
  </form>

  <script src="assets/js/login.js"></script>
</body>

</html>